<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <filter>
        <filter-name>LogFilter</filter-name>
        <filter-class>net.qeema.demo.filters.LogFilter</filter-class>
    </filter>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>net.qeema.demo.filters.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>LogFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/register</url-pattern>
    </filter-mapping>

    <context-param>
        <param-name>author-name</param-name>
        <param-value>Qeema</param-value>
    </context-param>
    <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>net.qeema.demo.servlets.WelcomeServlet</servlet-class>
        <init-param>
            <param-name>logged-in-user</param-name>
            <param-value>Mohamed</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>net.qeema.demo.servlets.UserRegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>DataLoadedServlet</servlet-name>
        <servlet-class>net.qeema.demo.servlets.DataLoadedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataLoadedServlet</servlet-name>
        <url-pattern>/load</url-pattern>
    </servlet-mapping>



</web-app>